.Apresentação {
    text-align: center;
    margin-inline:343px;
    padding-top: 120px;
    
    h1{
    font: var(--title-lg);
    color: var(--gray-100);
    padding-bottom: 20px;
  }

  h2{
    padding-top: 56px;
    padding-bottom: 8px;
    font: var(--subtitle);
    color: var(--gray-200);
  }

  span {
      color: var(--red);
  }

  p{
    font: var(--text-sm);
    color: var(--gray-300);
    padding-bottom: 80px;
  }
}

.social-midias {
  justify-content: center;
  display: flex;
  height: 40;
  gap: 16px;


  figcaption {
    display: flex;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: var(--gray-400);
    gap: 8px;
    align-items: center;
  }

  #tag {
      color: var(--gray-200);
      font: var(--text-md);
    }
}

.grid-container{
  width: 1040px;
  margin: auto;
  
  gap: 24px;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid-content{
  width: 888px;
  margin: auto;
  
  gap: 24px;
  padding-bottom: 120px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card-project {
  background: var(--gray-400);
  border-radius: 15px;
  width: 330px;
  height: 280px;
  padding: 1rem;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 5);
  
  h1 {
    font: var(--title-sm);
    color: var(--gray-200);
    padding-bottom: 8px;
    padding-top: 23px;
  }

  p {
    font: var(--text-sm);
    color: var(--gray-200);
  }
}

.grid-container a {
  text-decoration: none;
}

.card-project img {
  width: 100%;
  border-radius: 10px;
  width: 100%;
  transition: transform 0.4s ease;
}

.card-project:hover img {
  transform: scale(1.1);
}

.service {
  background-color: var(--gray-600);
  width: auto;
  height: 480px;
  display: grid;
  
}

.card {
  background: var(--gray-600);
  border-radius: 15px;
  width: 280px;
  height: 155px;
  padding: 1rem;
  overflow: hidden;
  border: solid var(--gray-500);

  h1 {
    font: var(--title-sm);
    color: var(--gray-100);
    padding-top: 20px;
  }

  p {
    font: var(--text-sm);
    color: var(--gray-200);
    padding-top: 8px;
  }

  
}

.contacts {
  height: 787px;
  width: auto;
  background-image: url(/assets/images/Background_Contacts.png);
  background-position: center;
  background-size: cover;
  
}

.direct {
  max-height: 68px;
  width: 400px;
  background: var(--gray-400);
  border-radius: 8px;
  display: flex;
  align-items: center;
  text-align: start;
  padding-left: 18px;
 
  img {
 
    padding: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 12px;
    box-sizing: border-box;
  }
}

ul {
  align-items: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  
}

ul a {
  text-decoration: none;
  transition: transform 0.4s ease;
  box-sizing: border-box;
  

  span {
    color: var(--gray-200);
    font: var(--text-md);
    width: 288px;
  }
}

ul a:hover {
  
  transform: scale(1.1);
}